@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.notfound{
    background: #131212dc;
    color: aliceblue;
    height: 100%;
    width: 100%;
    position: fixed;
}
.notfound p{
    text-align: center;
    letter-spacing: .2px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-top: 240px;
}
.backbutton{
    display: flex;
    align-items: center; 
    padding: 16px 28px; 
    border: none;
    background-color: #fff; 
    color: #000;
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s ease; 
    margin-top: 40px;
    margin-left:45%;
}
.backbutton:hover {
    background-color: rgb(14, 13, 27); 
    color:#fff
  }
  .arrow-icon {
    margin-right: 10px; 
    font-size: 20px;
  }