.question-page-container {
    margin: 50px; 
  }
  
.question-page-container  .quiz-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.question-page-container  .quiz-card {
    width: calc(33.33% - 20px); 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0; 
    background-color: #463b74;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }