
.page-container {
    margin: 50px; 
  }
  
  .quiz-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .quiz-card {
    width: calc(33.33% - 20px); 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0; 
    background-color: #463b74;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .page-container a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #2d2455;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.page-container button{
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.button-edit {
    color: black; 
    border: 2px solid #2d2455;
   
  }
  
  .button-edit:hover {
    background-color: #1f1250;
    color: white;
  }
  
  .start-quiz-button {
    color: black;
    border: 2px solid #1a5226;
    
  }
  
  .start-quiz-button:hover {
    background-color: #1a5226;
    color:white
  }
  .button-delete {
    background-color: white; 
    color: black; 
    border: 2px solid #ac2d24;
  }
  .button-delete:hover {
    background-color: #ac2d24;
    color: white;
  } 

@media (max-width: 600px) {
  .quiz-card {
      width: 100%;
  }
}



